# 18 - Relational Algebra

## Overview

**Relational algebra** defines the basic set of operations for the relational model.
- The result of an operation is a *new relation*, which may have been formed from one or more *input* relations

## Database Schema for Company

```{image} images/company_database_schema.png
:width: 450px
:align: center
```
<br>
```{image} images/company_database_state.png
:width: 450px
:align: center
```

## Unary Relational Operations

### SELECT

The **SELECT** operation &sigma; is used to select a *subset* of the tuples from a relation based on a **selection condition**.
- The selection condition acts as a **filter**, getting rid of all tuples that don't meet the condition

In general, the SELECT operation is denoted by &sigma;<sub>&lt;selection condition&gt;</sub>(R)

#### Examples

- Select the EMPLOYEE tuples whose department number is 4:

<center>&sigma;<sub>Dno=4</sub>(EMPLOYEE)</center>

- Select the employee tuples whose salary is greater than $30,000:

<center>&sigma;<sub>Salary>30000</sub>(EMPLOYEE)</center>

#### Properties

- The SELECT operation &sigma;<sub>&lt;selection condition&gt;</sub> produces a relation S that has the same schema (attributes) as R.

- SELECT is commutative:

<center>&sigma;<sub>&lt;cond1&gt;</sub>(&sigma;<sub>&lt;cond2&gt;</sub>(R)) = &sigma;<sub>&lt;cond2&gt;</sub>(&sigma;<sub>&lt;cond1&gt;</sub>(R))</center>

- A cascade of SELECT operations may be replaced by a single selection with a conjunction of all the conditions:

<center>&sigma;<sub>&lt;cond1&gt;</sub>(&sigma;<sub>&lt;cond2&gt;</sub>(&sigma;<sub>&lt;cond3&gt;</sub>(R))) = &sigma;<sub>&lt;cond1&gt; AND &lt;cond2&gt; AND &lt;cond3&gt;</sub>(R)</center>

### PROJECT

The PROJECT operation &pi; keeps columns (attributes) from a relation and discards the other columns.

In general, the PROJECT operation is denoted by &pi;<sub>&lt;attribute list&gt;</sub>(R)

The PROJECT operation removes any duplicates, since it must return a set of tuples.

#### Examples

- List each employeeâ€™s first and last name and salary:

<center>&pi;<sub>Fname,Lname,Salary</sub>(EMPLOYEE)</center>

#### Properties

- The number of tuples in the result of a projection is less than or equal to the number in the original relation.

- PROJECT is not commutative

### RENAME

The **RENAME** operator &rho; is used rename the attributes and/or name of a relation.

The RENAME operation can take any of the following forms:

- &rho;<sub>S(B1,B2,...,Bn)</sub>(R) changes the relation name to S and the attribute names to B1, B2, ... Bn.

- &rho;<sub>S</sub>(R) changes the relation name to S.

- &rho;<sub>(B1,B2,...,Bn)</sub>(R) changes the attribute names to B1, B2, ... Bn

### Relational Algebra Expressions with Multiple Operations

Suppose we want to apply several relational algebra operations consecutively. We have 2 options:
- Write as a single expression by nesting the operations
- Apply one condition at a time using **intermediate result relation**

#### Example

Retrieve the first name, last name, and salary of all employees who work in department number 5:

- Using nested operations:

<center>&pi;<sub>Fname,Lname,Salary</sub>(&sigma;<sub>Dno=5</sub>(EMPLOYEE))</center>

- Using intermediate relations:

<center>DEP5_EMPS &leftarrow; &sigma;<sub>Dno=5</sub>(EMPLOYEE)</center>
<center>RESULT &leftarrow; &pi;<sub>Fname,Lname,Salary</sub>(DEP5_EMPS)</center>

## Relational Algebra Operations from Set Theory

### UNION

The UNION operator &cup; returns a relation that includes all tuples that are in either of its two operands. Duplicate tuples are eliminated. The two operands must have the same number of attributes and have compatible domains.

#### Example

Retrieve the social security numbers of all employees who either work in department 5 (RESULT1 below) or directly supervise an employee who works in department 5 (RESULT2 below):

<center>DEP5_EMPS &leftarrow; &sigma;<sub>Dno=5</sub>(EMPLOYEE)</center>

<center>RESULT1 &leftarrow; &pi;<sub>Ssn</sub>(DEP5_EMPS)</center>

<center>RESULT2 &leftarrow; &pi;<sub>Superssn</sub>(EP5_EMPS)</center>

<center>RESULT &leftarrow; RESULT1 &cup; RESULT2</center>
<br>

```{image} images/figure8-3.jpg
:width: 500px
:align: center
```

### INTERSECTION

The INTERSECTION operation &cap; returns all tuples that are in both operand relations.

### SET DIFFERENCE

The SET DIFFERENCE (or MINUS or EXCEPT) operation - returns all tuples that are in the first operand but not the second.

### CARTESIAN PRODUCT

The CARTESIAN (or CROSS) PRODUCT operation x combines tuples from two relations in a combinatorial fashion.

The resulting relation has n + m attributes: R(A1, A2, ..., An) x S(B1, B2, ..., Bn) = Q(A1, A2, ..., An, B1, B2, ..., Bn)

The operands do not have to be type compatible.

### Type Compatibility for Set Operations

R1(A1, A2, ..., An) and R2(B1, B2, ..., Bn) are **type compatible** if:
- They have the same number of attributes and
- The domains of the corresponding attributes are type compatible (same domains)

Type compatibility is required for UNION &cup;, INTERSECTION &cap;, and SET DIFFERENCE -.

By convention, the relation resulting from R&cup;S has the attributes of R.